---
layout: default
title: Proventa IT-Status
---
{% assign category_size = site.categories.active.size %}
{% if category_size == 0 %}
<article class="done">
        <h2 class="title">Alles ist in bester ordnung</h2>
        <div class="content">
          Uns sind zur zeit keine Fehler bekannt. Bei Störungen bitte wenden Sie sich an it-helpdesk@proventa.de.
        </div>
</article>

{% else %}
{% for post in site.categories.active limit:10 %}

<article>
        <a href="{{ post.url }}"><h2 class="title">{{ post.title }}</h2></a>
        <div class="content">
        {{ post.content }}
        <hr>
        <time>{{ post.date | date: '%H:%M - %-d %b %Y' }}</time>
        </div>
</article>

{% endfor %}

{% endif %}
<br>

<aside>
        <a href="/posts" class="white item">More Posts</a>
</aside>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
